@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.NavHead{
    padding-left: 20px;
}

.color-nav{
    margin-bottom: 10vh;
    background-color:#353a81;
}


input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #353a81 !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
    border-radius: 15px;
    border: 1px solid black
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #4e54aa, #743581);
    border-radius: 15px;
    border: 1px solid black
}

#logo {
    width: 190px;
    height: 170px
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right,#353a81, #3a41a5);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 40px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #353a81, #7179e7)
}

.btn-white {
    border-radius: 50px;
    color: #353a81;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #353a81 !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #212bad, #5c63be)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

.togg{
    background-color: #5158bd;
    border: 1px solid #5158bd;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    padding: 3px 3px;
}

.tog{
    color: white;
    background-color: #5158bd;
    cursor: pointer;
    width: 120px;
    font-weight: bold;
    padding: 5px 10px;
}

.active{
    background-color: white;
    color: #5158bd;
    border-radius: 15px;
    padding: 5px 5px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}